.hr {
  border-width: 0.3px;
  border-color: #4c4c4c;
  margin: 20px 0;
}

.titleText {
  /* font-family: Circular; */
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

.appBar {
  width: calc(100% - 140px);
  margin-left: 140px;
}

.logo {
  float: right;
  position: absolute;
  width: 40px;
  right: 10px;
}

.navItem {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.navItem svg {
  margin-right: 10px;
}

.navItemActive {
  color: #04d95f;
}

.userInfo {
  margin: 15px;
}
.black {
  background-color: #0e0e0e !important;
}
.logout {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #fff;
  width: 100%;
  color: white;
}

.logout a {
  padding: 10px;
}

@media (min-width: 600px) {
  nav {
    width: 180px;
    flex-shrink: 0;
  }
}
