.header {
  display: flex;
  min-height: 200px;
  flex-direction: row;
  align-items: flex-end;
}

.title {
  flex-grow: 1;
}

.hr {
  border-width: 0.3px;
  border-color: #4c4c4c;
  margin: 20px 0;
}
.titleText {
  font-family: 'Circular-Bold';
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
