.img {
  height: 200px;
}

.root {
  flex-grow: 1;
}

.card {
  position: relative;
}

.actions {
  position: absolute;
  bottom: 15%;
  width: 100%;
  color: #fff !important;
  text-align: center;
  font-family: Circular;
  font-size: 16px;
  font-weight: 500;
}
