html,
body {
  height: 100%;
}

.paper {
  margin-top: 20px;
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
}
.avatar {
  margin: 10px;
  background-color: '#777';
}
.form {
  width: '100%';
  margin-top: 10p;
  color: #fff;
}

.lableInput * {
  color: #fff;
}
.submit {
  margin: 10px;
}
.loginHeader {
  text-align: center;
  padding: 25px;
}
.loginHeader h5 {
  margin-top: 20px;
}
.loginHeader img {
  width: 160px;
}
